# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE/Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Archivos temporales
*.tmp
*.bak
*.swp

# Node modules (por si se usa alguna herramienta de build)
node_modules/
